#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifeq ($(CROSS_COMPILING), armhf)
# RPi's toolchain (gcc <4.9) can't handle these flags, so strip them. Stops failure in configure stage.
export DEB_CFLAGS_MAINT_STRIP=-fstack-protector-strong
export DEB_CXXFLAGS_MAINT_STRIP=-fstack-protector-strong
export DEB_CPPFLAGS_MAINT_STRIP=-Wdate-time
endif

%:
	dh $@ --with autoreconf --parallel

override_dh_auto_test override_dh_usrlocal:

ifeq ($(CROSS_COMPILING), armhf)
override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_build:
	dh_auto_build -- EXTRA_PYTHON_INCLUDES=-I$(EXTRA_PYTHON)

override_dh_auto_install:
	dh_auto_install -- EXTRA_PYTHON_INCLUDES=-I$(EXTRA_PYTHON)

# We'd need to require install of multiarch packages for this to work when cross compiling.
override_dh_makeshlibs override_dh_shlibdeps:

endif
	
